:root{
    --branding-color: rgb(41, 37, 37);
    --secondary-color: rgb(179, 174, 174);
    --heading-font-family: 'Quicksand',sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    color: var(--branding-color);
}

body {
    background:  #fff;
}

h1 {
font-family: var(--heading-font-family);
    color: var(--branding-color);
    text-align: center;
    font-size: 3rem;
    
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    display: inline-block;
}

h3{
    font-family: 'Quicksand',sans-serif; 
    font-size: .8rem;
    line-height: 1.5;
    text-align: center;
    font-weight: bolder;
}
.hero {
    background-color: rgb(41, 37, 37);
    text-align: center;
    padding: 160px 20px;
}

.hero h1 {
    font-size: 2rem;
    color: var(--secondary-color);
}

.hero h3 {
   color: var(--secondary-color);
}

.hero h4 {
    color: var(--secondary-color);
}
.hero .btn-branding {
    border-radius: 4px;
    color: var(--secondary-color);
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin-top: 80px;
    box-shadow: none;
    transition: all 0.3s ease;
}
.hero .email-link {
    text-decoration: none;
        color: #888;
        font-size: 15px;
        text-align: center;
        padding-top: 15px;

}

.btn-outline-dark {
    padding: auto;
}

textarea {
    resize: none;
}

.text {
    color: white;
    font-size: 1rem;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.container-fluid{
    max-width: 980px;
    text-align: center;
    padding-top: 30px;

}
.rounded-social-buttons {
    text-align: center;
}

.rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    margin-right: 0.125rem;
    margin-bottom: 0.125rem;
}

.project-description {
    padding:   0 30px;
}

.profile-image {

    box-shadow:  0 0 4px rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.content p {
    line-height: 1.7em;
    font-size: 14px;
}

.content h3{
    font-weight: bold;
    line-height: 1.1;
    margin: 15px 0 0;

}

nav {
    padding: 20px 0;
    
}
nav li{
    display: inline;
    list-style: none;
    margin-left: 5px;
    line-height: 40px;
    margin-left: 10px;
}

nav ul {
    float: right;
    padding: 0;

}

nav a{
    text-decoration: none;
    color: #888;
    transition: all .3s ease;
}


nav a:hover, nav li.active a {
    color: rgb(41, 37, 37);
    font-weight: bold;
}

footer {
    margin: 65px 0;
}

footer .email-link {
    text-decoration: none;
    color: #888;
    font-size: 24px;
    text-align: center;
}

footer .email-link:hover {
    color: rgb(41, 37, 37);
        font-weight: bold;
}



footer .social-links a {
    margin: 0 20px;
    padding: 15px;
    font-size: 20px;
    transition: all .3s ease;

}

footer.social-links a:hover {
    color: #888;
    background-color: rgb(41, 37, 37);
}


@media screen and (max-width: 600px) {

  
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .hero {
        padding: 80px 10px;
    }

    .btn-branding {
        font-size: 0.8rem;
        line-height: 1.2rem;
        padding: 8px 15px;
    }

    .text {
        font-size: 0.8rem;
    }

    .nav a{
        font-size: 12px;
    }

    .nav ul {
        justify-content: center;
    }


    .project-description {
        padding: 0;
        text-align: center;
    }

    .about-me {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        height: auto;
    }

    .rounded-social-buttons .social-button {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 0.8rem;
        margin-right: 0.1rem;
        margin-bottom: 0.1rem;
    }
}